@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

.header-area {
    position: fixed;
    top: 30px;
    left: 0px;
    right: 0px;
    z-index: 100;
    height: 100px;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s; 
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

.header-area .main-nav {
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    border-radius: 40px;
    min-height: 80px;
    background: #fff;
}

.header-area .main-nav .logo-itk {
    float: left;
    margin-top: auto;
    margin-left: 30px;
}
.header-area .main-nav .logo-sukma {
    float: left;
    margin-top: 20px;
    margin-left: 10px;
}
.header-area .main-nav .logo img {
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

.header-area .main-nav .nav {
    float: right;
    margin-top: 27px;
    margin-left: 0px;
    margin-right: 30px;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    position: relative;
    z-index: 999;
}

.header-area .main-nav .nav li {
    padding-left: 20px;
    padding-right: 20px;
}

.header-area .main-nav .nav li:last-child {
    padding-right: 0px;
}

.header-area .main-nav .nav li a {
    display: block;
    font-weight: 500;
    font-size: 17px;
    color: #fff;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    height: 40px;
    line-height: 40px;
    border: transparent;
    letter-spacing: 1px;
}

.header-area .main-nav .nav li a:hover {
    background-color:white ;
    color: #3a95e4;
}

.header-area .main-nav .menu-trigger {
    cursor: pointer;
    display: block;
    position: absolute;
    top: 23px;
    width: 32px;
    height: 40px;
    text-indent: -9999em;
    z-index: 99;
    right: 40px;
    display: none;
}

.header-area .main-nav .menu-trigger span,
.header-area .main-nav .menu-trigger span:before,
.header-area .main-nav .menu-trigger span:after {
    -moz-transition: all 0.4s;
    -o-transition: all 0.4s;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
    background-color: #3B566E;
    display: block;
    position: absolute;
    width: 30px;
    height: 2px;
    left: 0;
}

.header-area .main-nav .menu-trigger span:before,
.header-area .main-nav .menu-trigger span:after {
    -moz-transition: all 0.4s;
    -o-transition: all 0.4s;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
    background-color: #3B566E;
    display: block;
    position: absolute;
    width: 30px;
    height: 2px;
    left: 0;
    width: 75%;
}

.header-area .main-nav .menu-trigger span:before,
.header-area .main-nav .menu-trigger span:after {
    content: "";
}

.header-area .main-nav .menu-trigger span {
    top: 16px;
}

.header-area .main-nav .menu-trigger span:before {
    -moz-transform-origin: 33% 100%;
    -ms-transform-origin: 33% 100%;
    -webkit-transform-origin: 33% 100%;
    transform-origin: 33% 100%;
    top: -10px;
    z-index: 10;
}

.header-area .main-nav .menu-trigger span:after {
    -moz-transform-origin: 33% 0;
    -ms-transform-origin: 33% 0;
    -webkit-transform-origin: 33% 0;
    transform-origin: 33% 0;
    top: 10px;
}

.header-area .main-nav .menu-trigger.active span,
.header-area .main-nav .menu-trigger.active span:before,
.header-area .main-nav .menu-trigger.active span:after {
    background-color: transparent;
    width: 100%;
}

.header-area .main-nav .menu-trigger.active span:before {
    -moz-transform: translateY(6px) translateX(1px) rotate(45deg);
    -ms-transform: translateY(6px) translateX(1px) rotate(45deg);
    -webkit-transform: translateY(6px) translateX(1px) rotate(45deg);
    transform: translateY(6px) translateX(1px) rotate(45deg);
    background-color: #3B566E;
}

.header-area .main-nav .menu-trigger.active span:after {
    -moz-transform: translateY(-6px) translateX(1px) rotate(-45deg);
    -ms-transform: translateY(-6px) translateX(1px) rotate(-45deg);
    -webkit-transform: translateY(-6px) translateX(1px) rotate(-45deg);
    transform: translateY(-6px) translateX(1px) rotate(-45deg);
    background-color: #3B566E;
}

.header-area.header-sticky {
    min-height: 80px;
}

.header-area.header-sticky .logo {
    margin-top: 25px;
}

.header-area.header-sticky .nav {
    margin-top: 20px !important;
}

.header-area.header-sticky .nav li a {
    color: #1e1e1e;
}

.header-area.header-sticky .nav li a.active {
    color: #3a95e4;
}

@media (max-width: 1200px) {
    .header-area .main-nav .nav li {
        padding-left: 12px;
        padding-right: 12px;
    }
    .header-area .main-nav:before {
        display: none;
    }
}

@media (max-width: 991px) {
    .header-area {
        padding: 0px 15px;
        height: 80px;
        box-shadow: none;
        text-align: center;
    }
    .header-area .container {
        padding: 0px;
    }
    .header-area .logo {
        margin-top: 27px !important;
        margin-left: 30px;
    }
    .header-area .menu-trigger {
        display: block !important;
    }
    .header-area .main-nav {
        overflow: hidden;
    }
    .header-area .main-nav .nav {
        float: none;
        width: 100%;
        margin-top: 80px !important;
        display: none;
        -webkit-transition: all 0s ease 0s;
        -moz-transition: all 0s ease 0s;
        -o-transition: all 0s ease 0s;
        transition: all 0s ease 0s;
        margin-left: 0px;
    }
    .header-area .main-nav .nav li:first-child {
        border-top: 1px solid #eee;
    }
    .header-area .main-nav .nav li {
        width: 100%;
        background: #fff;
        border-bottom: 1px solid #eee;
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
    .header-area .main-nav .nav li a {
        height: 50px !important;
        line-height: 50px !important;
        padding: 0px !important;
        border: none !important;
        background: #fff !important;
        color: #3B566E !important;
    }
    .header-area .main-nav .nav li a:hover {
        background: #eee !important;
    }
}

@media (min-width: 992px) {
    .header-area .main-nav .nav {
        display: flex !important;
    }
}
.masthead {
    min-height: 30rem;
    position: relative;
    display: table;
    width: 100%;
    height: auto;
    padding-top: 8rem;
    padding-bottom: 8rem;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.1) 100%), url("../images/Gedung ITK-01.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .masthead h1 {
    margin: 0;
    padding: 0;
    color: white;
  }
  .img {
    height: 43px;
  }
  
  
  @media (min-width: 992px) {
    .masthead {
      height: 100vh;
    }
    .masthead h1 {
      font-size: 3.5rem;
    }
  }
  .row-padding{
      padding: 100px 0px;
  }

  .about{
      margin-top: 150px;
  }
  .about h1{
      font-weight: 300;
      letter-spacing: 3px;      
  }
  .about h4{
    font-weight: 300;
    margin-top: 20px;
    font-size: 28px;
    letter-spacing: 2px;      
}
.login {
    background: #3a95e4;
    padding: 0 1em 1em 1em;
}
.btn {
    background: #197dd4;
    letter-spacing: 2px;
    
}
.btn:hover{
    background: #45a6f9;
    color: white;
}


.features-small-item {
    cursor: pointer;
    display: block;
    background: #FFFFFF;
    box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.10);
    border-radius: 20px;
    padding: 30px;
    text-align: center;
    transition: all 0.3s ease 0s;
    position: relative;
    margin-bottom: 30px;
}

.form_style{
    display: block;
    margin-bottom: 25px;
    font-size: 20px;
    text-align: left;
}
.form_style .input{
    width: 100%;
    padding: 5px;
    font-size: 14px;
    box-sizing: border-box;
    margin-top: 5px;
}
textarea{
    height: 150px;
}
fieldset{
    border-color: white;
}

.row-divider{
    position: relative;
}
.row-divider::before{
    position: absolute;
    content: "";
    width: 80%;
    height: 1px;
    background: radial-gradient(rgba(0,0,0,0.2), rgba(255,255,255,0) 100%);
    top: 0;
    margin-left: -40%;
    left: 50%;
}
.head-section{
    margin-bottom: 60px;
}
.features-area {
    background-color: #f4f6f7;
    padding-top: 120px;
    padding-bottom: 130px; 
    margin-bottom: 80px; }
  
  .single-features {
    padding: 40px 20px 52px;
    background-color: #fff; }
    .single-features .features-title-icon .features-title a {
      font-size: 36px;
      line-height: 45px;
      color: #121212;
      -webkit-transition: all 0.3s ease-out 0s;
      -moz-transition: all 0.3s ease-out 0s;
      -ms-transition: all 0.3s ease-out 0s;
      -o-transition: all 0.3s ease-out 0s;
      transition: all 0.3s ease-out 0s;
      font-weight: 400; }
      @media only screen and (min-width: 992px) and (max-width: 1199px) {
        .single-features .features-title-icon .features-title a {
          font-size: 24px;
          line-height: 35px; } }
      @media (max-width: 767px) {
        .single-features .features-title-icon .features-title a {
          font-size: 24px;
          line-height: 35px; } }
      @media only screen and (min-width: 576px) and (max-width: 767px) {
        .single-features .features-title-icon .features-title a {
          font-size: 36px;
          line-height: 45px; } }
      .single-features .features-title-icon .features-title a:hover {
        color: #0067f4; }
    .single-features .features-title-icon .features-icon {
      position: relative;
      display: inline-block; }
      .single-features .features-title-icon .features-icon i {
        font-size: 88px;
        line-height: 70px;
        color: #0067f4;
        position: relative;
        z-index: 5; }
      .single-features .features-title-icon .features-icon .shape {
        position: absolute;
        top: 0;
        left: 0; }
    .single-features .features-content .text {
      font-size: 14px;
      line-height: 20px;
      color: #121212;
      margin-top: 16px; }
    .single-features .features-content .features-btn {
      color: #0067f4;
      font-size: 16px;
      font-weight: 700;
      margin-top: 29px; }